QLineEdit {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    text-transform: none;
    background-color: {QTMATERIAL_SECONDARYCOLOR};
  }}

QComboBox {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    background-color: {QTMATERIAL_SECONDARYCOLOR};
  }}

QSpinBox {{
    color: {QTMATERIAL_SECONDARYTEXTCOLOR};
    background-color: {QTMATERIAL_SECONDARYCOLOR};
  }}